.vxembqtded {
	background-size: unset;
	background-image: url('../content/Nav_Background.jpg'); background-repeat: no-repeat; background-position: center bottom 0px; background-attachment: unset;
}
@media(min-width:768px) {
	.vxembqtded-md {
		top: 0;
		z-index: 1020;
		position: sticky;
	}
}
@media(min-width:992px) {
	.vxembqtded-lg {
		top: 0;
		z-index: 1020;
		position: sticky;
	}
}
@media(min-width:1200px) {
	.vxembqtded-xl {
		top: 0;
		z-index: 1020;
		position: sticky;
	}
}
.pttucyewbt {
	background-size: cover;
	background-image: url('../content/DP_1921x820.jpg'); background-repeat: no-repeat; background-position: center center; background-attachment: unset;
}
.ylocyyqqvz {
	background-color: rgba(51, 51, 51, 1);
}
.dtptknljbe {
	flex: 1;
	width: 100%;
	display: grid;
	max-width: 600px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.dtptknljbe-sm {
		max-width: 1000px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
@media(min-width:768px) {
	.dtptknljbe-md {
		flex: 1;
		width: 100%;
		display: grid;
		max-width: 1200px;
		margin-top: 10px;
		max-height: 27px;
		margin-bottom: 20px;
		grid-template-rows: auto;
		grid-template-columns: 3fr 6fr 3fr;
	}
}
@media(min-width:992px) {
	.dtptknljbe-lg {
		max-width: 1500px;
		margin-top: 10px;
		max-height: 27px;
		margin-bottom: 20px;
	}
}
@media(min-width:1200px) {
	.dtptknljbe-xl {
		max-width: 1920px;
		margin-top: 10px;
		max-height: 27px;
		margin-bottom: 20px;
	}
}
.woxdwbpxvb {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.woxdwbpxvb-sm {
		max-width: 540px;
		min-height: 130px;
	}
}
@media(min-width:768px) {
	.woxdwbpxvb-md {
		max-width: 720px;
		margin-top: 15px;
		min-height: 160px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.woxdwbpxvb-lg {
		max-width: 960px;
		margin-top: 25px;
		min-height: 200px;
		margin-bottom: 25px;
	}
}
@media(min-width:1200px) {
	.woxdwbpxvb-xl {
		max-width: 1140px;
		margin-top: 25px;
		min-height: 275px;
		margin-bottom: 25px;
	}
}
.cvxlpxsnyw {
	background-color: rgba(245, 245, 245, 1);
}
.xuadfgampi {
	background-color: rgba(245, 245, 245, 1);
}
.jtwgwtqwcl {
	background-color: rgba(245, 245, 245, 1);
}
.jbzrejnjvq {
	background-color: rgba(87.00000000000001, 158, 176, 1);
}
.hakonirqbz {
	flex: 1;
	width: 100%;
	display: grid;
	max-width: 540px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.hakonirqbz-sm {
		max-width: 540px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}
@media(min-width:768px) {
	.hakonirqbz-md {
		flex: 1;
		width: 100%;
		display: grid;
		max-width: 720px;
		margin-top: 10px;
		margin-bottom: 0px;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
	}
}
@media(min-width:992px) {
	.hakonirqbz-lg {
		max-width: 960px;
		margin-top: 10px;
	}
}
@media(min-width:1200px) {
	.hakonirqbz-xl {
		max-width: 11px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}
.lloziarvte {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: flex-start;
	padding-top: 3px;
	grid-row-end: 2;
	padding-left: 10px;
	align-content: flex-start;
	grid-row-start: 1;
	grid-column-end: 2;
	justify-content: flex-start;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.lloziarvte-sm {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		padding-left: 10px;
		align-content: flex-start;
		justify-content: flex-start;
	}
}
@media(min-width:768px) {
	.lloziarvte-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: flex-start;
		grid-row-start: 1;
		grid-column-end: 2;
		justify-content: flex-start;
		grid-column-start: 1;
	}
}
@media(min-width:992px) {
	.lloziarvte-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		padding-left: 20px;
		align-content: flex-start;
		justify-content: flex-start;
	}
}
@media(min-width:1200px) {
	.lloziarvte-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		padding-left: 20px;
		align-content: flex-start;
		justify-content: flex-start;
	}
}
.gphxkyjxgl {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: flex-start;
	grid-row-end: 4;
	padding-left: 180px;
	align-content: flex-start;
	grid-row-start: 3;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.gphxkyjxgl-sm {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-left: 200px;
		align-content: center;
		justify-content: center;
	}
}
@media(min-width:768px) {
	.gphxkyjxgl-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		grid-row-end: 2;
		padding-left: 0px;
		align-content: flex-start;
		padding-right: 0px;
		grid-row-start: 1;
		padding-bottom: 0px;
		grid-column-end: 3;
		justify-content: center;
		grid-column-start: 2;
	}
}
@media(min-width:992px) {
	.gphxkyjxgl-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		align-content: flex-start;
		justify-content: center;
	}
}
@media(min-width:1200px) {
	.gphxkyjxgl-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		align-content: flex-start;
		justify-content: center;
	}
}
.xrovapltyn {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	overflow: auto;
	position: absolute;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	grid-row-end: 3;
	align-content: center;
	grid-row-start: 2;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.xrovapltyn-sm {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		overflow: auto;
		position: absolute;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}
@media(min-width:768px) {
	.xrovapltyn-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 4;
		justify-content: center;
		grid-column-start: 3;
	}
}
@media(min-width:1200px) {
	.xrovapltyn-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}
.aoxylnpifm {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.aoxylnpifm-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
.seqkgxbaqz {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.seqkgxbaqz-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.seqkgxbaqz-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.seqkgxbaqz-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.seqkgxbaqz-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: -10px;
	}
}
.vcajhqrtip {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.vcajhqrtip-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.vcajhqrtip-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.vcajhqrtip-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.vcajhqrtip-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: -10px;
	}
}
.fwpdgynxtv {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.fwpdgynxtv-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.fwpdgynxtv-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.fwpdgynxtv-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.fwpdgynxtv-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: -10px;
	}
}
.tfiwayyycs {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.tfiwayyycs-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.tfiwayyycs-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.tfiwayyycs-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.tfiwayyycs-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: -10px;
	}
}
.shcipufvpq {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.shcipufvpq-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.shcipufvpq-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.shcipufvpq-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.shcipufvpq-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: -10px;
	}
}
.smblkbcvnm {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.smblkbcvnm-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.smblkbcvnm-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.smblkbcvnm-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.smblkbcvnm-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -10px;
	}
}
.xgdcxgjvwc {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.xgdcxgjvwc-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.xgdcxgjvwc-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.xgdcxgjvwc-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.xgdcxgjvwc-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: -10px;
	}
}
.aseqbfhskn {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 0px;
	grid-row-end: 2;
	padding-left: 0px;
	align-content: center;
	padding-right: 0px;
	grid-row-start: 1;
	padding-bottom: 0px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.aseqbfhskn-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 3;
		justify-content: flex-start;
		grid-column-start: 2;
	}
}
@media(min-width:992px) {
	.aseqbfhskn-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
	}
}
@media(min-width:1200px) {
	.aseqbfhskn-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
	}
}
.zmmudhpjko {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 0px;
	grid-row-end: 3;
	padding-left: 0px;
	align-content: center;
	padding-right: 0px;
	grid-row-start: 2;
	padding-bottom: 0px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.zmmudhpjko-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 2;
		justify-content: flex-end;
		grid-column-start: 1;
	}
}
@media(min-width:992px) {
	.zmmudhpjko-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
	}
}
@media(min-width:1200px) {
	.zmmudhpjko-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
	}
}
.gvjzdasyng {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.gvjzdasyng-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.gvjzdasyng-xl {
		padding-top: 0px;
	}
}
.lfsrxtkvay {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.lfsrxtkvay-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.lfsrxtkvay-xl {
		padding-top: 0px;
	}
}
.vgwuonctdm {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.vgwuonctdm-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.vgwuonctdm-xl {
		padding-top: 0px;
	}
}
.pecuugazee {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.pecuugazee-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.pecuugazee-xl {
		padding-top: 0px;
	}
}
.xaboxfxvaf {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.xaboxfxvaf-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.xaboxfxvaf-xl {
		padding-top: 0px;
	}
}
.cugcgnnnbv {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.cugcgnnnbv-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.cugcgnnnbv-xl {
		padding-top: 0px;
	}
}
.plbsvumcyu {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.plbsvumcyu-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.plbsvumcyu-xl {
		padding-top: 0px;
	}
}