html{
	height: 100%;
	width: 100%;
	}
body{
	background: #e1e8f3 url(./img/errorpage_bg.png) repeat-x bottom left;
	height: 100%;
	width: 100%;
	margin: 0 0;
	padding: 0 0;
	}
.error_page{	
	height: 100%;
	width: 100%;
	}
.error_pos{
	width: 521px;
	position: relative;
	left: 50%;
	margin-left: -260px;
	top: 50%;
	margin-top: -200px;
	}
.error_title{
	color: #4d648a;
	position: relative;
	height: 110px;
	}
.error_title div.msg{
	font: normal 26px/30px Arial, "Arial Narrow", Helvetica, Tahoma, Verdana, Geneva, sans-serif;
	position: absolute;
	left: 0;
	}
.error_title div.msg span{
	font: bold 34px/34px Arial, "Arial Narrow", Helvetica, Tahoma, Verdana, Geneva, sans-serif;
	margin: 0 0 14px;
	padding: 0 0;
	display: block;
	}
.error_title div.code{
	font: bold 88px/64px Arial, "Arial Narrow", Helvetica, Tahoma, Verdana, Geneva, sans-serif;
	position: absolute;
	right: 0;
	letter-spacing: 4px;
	}
.error_title div.code span{
	font: bold 45px/40px Arial, "Arial Narrow", Helvetica, Tahoma, Verdana, Geneva, sans-serif;
	letter-spacing: 5px;
	padding: 0 0;
	display: block;
	}	
.error_top{
	background: transparent url(./img/errorpage_dialog.png) no-repeat 0 0;
	height: 100px;	}
	
.error_main{
	background: #fff;
	padding: 0 20px;
	color: #4d748a;
	font: normal 14px/22px Arial, "Arial Narrow", Helvetica, Tahoma, Verdana, Geneva, sans-serif;
	}
.error_main a{
	color: #4d748a;
	font: bold 14px/22px Arial, "Arial Narrow", Helvetica, Tahoma, Verdana, Geneva, sans-serif;
	}
.error_bot{
	background: transparent url(./img/errorpage_dialog.png) no-repeat 0 bottom;
	height: 60px;
	}
