.vxembqtded {
	background-size: unset;
	background-image: url('../content/Nav_Background.jpg'); background-repeat: no-repeat; background-position: center bottom 0px; background-attachment: unset;
}
@media(min-width:768px) {
	.vxembqtded-md {
		top: 0;
		z-index: 1020;
		position: sticky;
	}
}
@media(min-width:992px) {
	.vxembqtded-lg {
		top: 0;
		z-index: 1020;
		position: sticky;
	}
}
@media(min-width:1200px) {
	.vxembqtded-xl {
		top: 0;
		z-index: 1020;
		position: sticky;
	}
}
.pttucyewbt {
	background-size: cover;
	background-image: url('../content/DP_1921x820.jpg'); background-repeat: no-repeat; background-position: center center; background-attachment: unset;
}
.ylocyyqqvz {
	background-color: rgba(51, 51, 51, 1);
}
.dtptknljbe {
	flex: 1;
	width: 100%;
	display: grid;
	max-width: 600px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	grid-template-rows: auto auto auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.dtptknljbe-sm {
		max-width: 1000px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
@media(min-width:768px) {
	.dtptknljbe-md {
		flex: 1;
		width: 100%;
		display: grid;
		max-width: 1200px;
		margin-top: 10px;
		max-height: 27px;
		margin-bottom: 20px;
		grid-template-rows: auto;
		grid-template-columns: 3fr 6fr 3fr;
	}
}
@media(min-width:992px) {
	.dtptknljbe-lg {
		max-width: 1500px;
		margin-top: 10px;
		max-height: 27px;
		margin-bottom: 20px;
	}
}
@media(min-width:1200px) {
	.dtptknljbe-xl {
		max-width: 1920px;
		margin-top: 10px;
		max-height: 27px;
		margin-bottom: 20px;
	}
}
.woxdwbpxvb {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.woxdwbpxvb-sm {
		max-width: 540px;
		min-height: 130px;
	}
}
@media(min-width:768px) {
	.woxdwbpxvb-md {
		max-width: 720px;
		margin-top: 15px;
		min-height: 160px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.woxdwbpxvb-lg {
		max-width: 960px;
		margin-top: 25px;
		min-height: 200px;
		margin-bottom: 25px;
	}
}
@media(min-width:1200px) {
	.woxdwbpxvb-xl {
		max-width: 1140px;
		margin-top: 25px;
		min-height: 275px;
		margin-bottom: 25px;
	}
}
.thisklmdii {
	background-color: rgba(87.00000000000001, 158, 176, 1);
}
.rrfzqvlwdq {
	background-color: rgba(245, 245, 245, 1);
}
.hakonirqbz {
	flex: 1;
	width: 100%;
	display: grid;
	max-width: 540px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.hakonirqbz-sm {
		max-width: 540px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}
@media(min-width:768px) {
	.hakonirqbz-md {
		flex: 1;
		width: 100%;
		display: grid;
		max-width: 720px;
		margin-top: 10px;
		margin-bottom: 0px;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
	}
}
@media(min-width:992px) {
	.hakonirqbz-lg {
		max-width: 960px;
		margin-top: 10px;
	}
}
@media(min-width:1200px) {
	.hakonirqbz-xl {
		max-width: 11px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}
.lloziarvte {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: flex-start;
	padding-top: 3px;
	grid-row-end: 2;
	padding-left: 10px;
	align-content: flex-start;
	grid-row-start: 1;
	grid-column-end: 2;
	justify-content: flex-start;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.lloziarvte-sm {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		padding-left: 10px;
		align-content: flex-start;
		justify-content: flex-start;
	}
}
@media(min-width:768px) {
	.lloziarvte-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: flex-start;
		grid-row-start: 1;
		grid-column-end: 2;
		justify-content: flex-start;
		grid-column-start: 1;
	}
}
@media(min-width:992px) {
	.lloziarvte-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		padding-left: 20px;
		align-content: flex-start;
		justify-content: flex-start;
	}
}
@media(min-width:1200px) {
	.lloziarvte-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		padding-left: 20px;
		align-content: flex-start;
		justify-content: flex-start;
	}
}
.gphxkyjxgl {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: flex-start;
	grid-row-end: 4;
	padding-left: 180px;
	align-content: flex-start;
	grid-row-start: 3;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.gphxkyjxgl-sm {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-left: 200px;
		align-content: center;
		justify-content: center;
	}
}
@media(min-width:768px) {
	.gphxkyjxgl-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		grid-row-end: 2;
		padding-left: 0px;
		align-content: flex-start;
		padding-right: 0px;
		grid-row-start: 1;
		padding-bottom: 0px;
		grid-column-end: 3;
		justify-content: center;
		grid-column-start: 2;
	}
}
@media(min-width:992px) {
	.gphxkyjxgl-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		align-content: flex-start;
		justify-content: center;
	}
}
@media(min-width:1200px) {
	.gphxkyjxgl-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 3px;
		align-content: flex-start;
		justify-content: center;
	}
}
.xrovapltyn {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	overflow: auto;
	position: absolute;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	grid-row-end: 3;
	align-content: center;
	grid-row-start: 2;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.xrovapltyn-sm {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		overflow: auto;
		position: absolute;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}
@media(min-width:768px) {
	.xrovapltyn-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 4;
		justify-content: center;
		grid-column-start: 3;
	}
}
@media(min-width:1200px) {
	.xrovapltyn-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
}
.aoxylnpifm {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.aoxylnpifm-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
.navsotjcxq {
	flex: 1;
	width: 100%;
	display: grid;
	max-width: 540px;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.navsotjcxq-sm {
		max-width: 540px;
		margin-top: 1px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1px;
	}
}
@media(min-width:768px) {
	.navsotjcxq-md {
		max-width: 720px;
		margin-top: 1px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1px;
	}
}
@media(min-width:992px) {
	.navsotjcxq-lg {
		max-width: 960px;
		margin-top: 1px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1px;
	}
}
@media(min-width:1200px) {
	.navsotjcxq-xl {
		max-width: 999px;
		margin-top: 1px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1px;
	}
}
.oytasgmnyt {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.oytasgmnyt-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.oytasgmnyt-md {
		flex: 1;
		width: 100%;
		display: grid;
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr;
	}
}
@media(min-width:992px) {
	.oytasgmnyt-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.oytasgmnyt-xl {
		max-width: 999px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}
.xjikipowgc {
	flex: 1;
	width: 100%;
	display: grid;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
@media(min-width:576px) {
	.xjikipowgc-sm {
		max-width: 540px;
	}
}
@media(min-width:768px) {
	.xjikipowgc-md {
		max-width: 720px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
@media(min-width:992px) {
	.xjikipowgc-lg {
		max-width: 960px;
	}
}
@media(min-width:1200px) {
	.xjikipowgc-xl {
		max-width: 999px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.aseqbfhskn {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 0px;
	grid-row-end: 2;
	padding-left: 0px;
	align-content: center;
	padding-right: 0px;
	grid-row-start: 1;
	padding-bottom: 0px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.aseqbfhskn-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 3;
		justify-content: flex-start;
		grid-column-start: 2;
	}
}
@media(min-width:992px) {
	.aseqbfhskn-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
	}
}
@media(min-width:1200px) {
	.aseqbfhskn-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-start;
	}
}
.zmmudhpjko {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 0px;
	grid-row-end: 3;
	padding-left: 0px;
	align-content: center;
	padding-right: 0px;
	grid-row-start: 2;
	padding-bottom: 0px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.zmmudhpjko-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 2;
		justify-content: flex-end;
		grid-column-start: 1;
	}
}
@media(min-width:992px) {
	.zmmudhpjko-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
	}
}
@media(min-width:1200px) {
	.zmmudhpjko-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		align-content: center;
		justify-content: flex-end;
	}
}
.aiynmjuvii {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 1px;
	grid-row-end: 2;
	align-content: center;
	grid-row-start: 1;
	padding-bottom: 1px;
	grid-column-end: 2;
	justify-content: flex-start;
	grid-column-start: 1;
}
@media(min-width:576px) {
	.aiynmjuvii-sm {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 1px;
		align-content: center;
		padding-bottom: 1px;
		justify-content: flex-start;
	}
}
@media(min-width:768px) {
	.aiynmjuvii-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		padding-bottom: 15px;
		justify-content: flex-start;
	}
}
@media(min-width:992px) {
	.aiynmjuvii-lg {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 1px;
		align-content: center;
		padding-bottom: 1px;
		justify-content: flex-start;
	}
}
@media(min-width:1200px) {
	.aiynmjuvii-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 1px;
		padding-left: 0px;
		align-content: center;
		padding-bottom: 1px;
		justify-content: flex-start;
	}
}
.rpgemltqfd {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.rpgemltqfd-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 3;
		justify-content: center;
		grid-column-start: 2;
	}
}
@media(min-width:1200px) {
	.rpgemltqfd-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-top: 25px;
		align-content: flex-start;
		justify-content: center;
	}
}
.wbdztplayv {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 3;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 2;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.wbdztplayv-md {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-top: 15px;
		grid-row-end: 2;
		padding-left: 15px;
		align-content: center;
		padding-right: 15px;
		grid-row-start: 1;
		padding-bottom: 15px;
		grid-column-end: 2;
		justify-content: center;
		grid-column-start: 1;
	}
}
@media(min-width:1200px) {
	.wbdztplayv-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: flex-start;
		padding-left: 0px;
		align-content: flex-start;
		justify-content: center;
	}
}
.epunmxindn {
	display: flex;
	flex-wrap: wrap;
	min-width: 0;
	align-items: center;
	padding-top: 5px;
	grid-row-end: 2;
	padding-left: 5px;
	align-content: center;
	padding-right: 5px;
	grid-row-start: 1;
	padding-bottom: 5px;
	grid-column-end: 2;
	justify-content: center;
	grid-column-start: 1;
}
@media(min-width:768px) {
	.epunmxindn-md {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
}
@media(min-width:1200px) {
	.epunmxindn-xl {
		display: flex;
		flex-wrap: wrap;
		min-width: 0;
		align-items: center;
		padding-left: 0px;
		align-content: center;
		justify-content: center;
	}
}